/*
 * {{license}}
 */

'use strict';

const {{asset }}Contract = require('./lib/{{asset}}-contract');

module.exports.{{asset }}Contract = {{asset }}Contract;
module.exports.contracts = [ {{asset }}Contract ];
